.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);  
  margin: 10em 50em auto;
  padding: 0em 5em 5em 5em;
  background: rgb(24,69,122);
  background: linear-gradient(40deg, rgb(24, 70, 122) 0%, rgb(39, 26, 88) 50%, rgb(48, 36, 64) 100%);
}

#head {
  color: rgb(255, 255, 255);
  padding: 0em;  
  font-size: 8em;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

.input {
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 40rem;
  margin-bottom: 3rem;
 }
 
 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }
 
::placeholder { 
  color: white;
}

.todo .add-button {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: #36454F;
  color: white;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 3rem;
  align-self: flex-end;
}

.todo .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.todo .input-container .add-button {
  margin-left: auto;
}

.todo ul {
  list-style-type: none;
  padding: 10rem;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%; 
  padding: 20px; 
  box-sizing: border-box; 
  margin-top: 30px;
  background-color: rgb(230, 172, 125);
}

.todo li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.todo li span {
  margin-right: 10px;
}

.todo li.completed {
  color: #888;
  text-decoration: line-through;
}

.todo li.priority-1 {
  color: red;
}

.todo li.priority-2 {
  color: orange;
}

.todo li.priority-3 {
  color: green;
}

.todo .delete-button {
  margin-left: 10px;
  padding: 6px 8px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.todo .delete-button:hover {
  color: darkred;
}

button {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

button:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
